<div class="wrapper" style="margin-left: 27%;width: 50%;">
  <div>
    <h1 style="margin-left: 40%;width: 20%;">Log in</h1>
    <form>
      <input type="text" id="login" name="login" placeholder="Username">
      <input type="text" id="password" name="login" placeholder="Password">
      <input type="submit" style="margin-left: 27%;" class="btn btn-primary" value="Log In">
    </form>
    <div style="margin-left: 30%;width: 50%;">
      <a class="link-primary" routerLink="/clientRegistration">Forgot Password?</a>
      <tr></tr>
      <a class="link-primary" routerLink="/clientRegistration">Don't have an account?</a>
    </div>

  </div>
</div>