<mat-toolbar class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="isUnauthenticated()">
    <button class="btn btn-primary"  routerLink="/homepage"> Home</button>
    <button class="btn btn-primary"  routerLink="/clientRegistration"> Register</button>
    <button class="btn btn-primary" routerLink="/login" > Log in</button>
</mat-toolbar>

<mat-toolbar class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="isClient()">
    <button class="btn btn-primary"  routerLink="/homepage"> Home</button>
    <button class="btn btn-primary"  routerLink="/clientReservations"> My reservations</button>
    <button class="btn btn-primary" routerLink="/clientSubscriptions" > My subscriptions</button>
    <button class="btn btn-primary" routerLink="/clientPenalties" > Penalties</button>
    <button class="btn btn-primary" routerLink="/rentingItemReservations"> Renting item reservations</button>
    <button class="btn btn-primary" routerLink="/login" (click)="logOut()"> Log out</button>
</mat-toolbar>