<mat-toolbar class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary"  routerLink="/"> Home</button>
  <button class="btn btn-primary"  routerLink="/clientReservations"> My reservations</button>
  <button class="btn btn-primary" routerLink="/clientSubscriptions" > My subscriptions</button>
  <button class="btn btn-primary" routerLink="/clientPenalties" > Penalties</button>
  <button class="btn btn-primary" routerLink="/rentingItemReservations"> Renting item reservations</button>
  <button class="btn btn-primary" routerLink="/login" (click)="logOut()"> Log out</button>
</mat-toolbar>
<h1 style="margin: 10px;">My penalties</h1>
<div class="d-grid gap-2" style="margin: 10px;font-size: medium;">
       <ul class="list-group list-group-flush" *ngFor="let penalty of quickReservationPenaltiesForClient">
          <li class="list-group-item disabled"> <p> {{penalty.quickReservation.action.rentingItem.name}}, {{penalty.quickReservation.action.rentingItem.address}}, {{penalty.quickReservation.action.startTime | date : "dd.MM.yyyy."}} - {{penalty.quickReservation.action.endTime | date : "dd.MM.yyyy."}} </p></li>
       </ul>
       <ul class="list-group list-group-flush" *ngFor="let penalty of reservationPenaltiesForClient">
        <li class="list-group-item disabled"> <p>{{penalty.reservation.rentingItem.name}}, {{penalty.reservation.rentingItem.address}}, {{penalty.reservation.startTime | date : "dd.MM.yyyy."}} - {{penalty.reservation.endTime | date : "dd.MM.yyyy."}}</p></li>
       </ul>
</div>
     
  
   
 
     
   