<h1 style="text-align: center;margin-top:20px;">Client's info</h1>


<div class="row" *ngIf="editMode && !changePasswordMode && !deleteAccountRequestMode" >
  <div class="col-lg-4"></div>
  <div class=" col-lg-4" style="text-align: center;" *ngIf="dataLoaded">
            <form [formGroup]="userInfoForm" (ngSubmit)="updateClient()" >
              <div class="form-group has-validation">
                  <label for="name">Name</label>
                  <input type="text" class="form-control " id="name"
                        required
                        formControlName="name" name="name">
              </div>
                
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input type="text"  class="form-control" id="surname"
                  formControlName="surname" name="surname" required>
                </div>

                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text"  class="form-control" id="address"
                  formControlName="address" name="address">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text"  class="form-control" id="email"
                  formControlName="email" name="email" readonly>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone number</label>
                  <input type="text"  class="form-control" id="phoneNumber"
                  formControlName="phoneNumber" name="phoneNumber">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button  mat-flat-button color="primary" type="submit" (click)="updateClient()">Update profile</button>
                  <button  mat-flat-button color="primary" type="submit" (click)="turnEditModeOff()">Cancel</button>
                </div>
              </form>
              </div>
            </div>

            <div class="row" *ngIf="!editMode && !changePasswordMode && !deleteAccountRequestMode" >
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button  class="btn btn-primary"  (click)="turnEditModeOn()">Edit</button>
                    <button  class="btn btn-primary" (click)="turnChangePasswordModeOn()" style="margin-right:10px;">Change password</button>
                    <button  class="btn btn-primary"  (click)="turnDeleteAccountRequestModeOn()">Delete account</button>
                </div>     
                <div class="col-lg-4"></div>
                <div class=" col-lg-4" style="text-align: center;">
                          <form [formGroup]="userInfoForm" (ngSubmit)="updateClient()" >
                            <div class="form-group has-validation">
                                <label for="name">Name</label>
                                <br/>
                                <p type="text" id="name">{{client.name}}</p>
                            </div>
                              
                              <div class="form-group">
                                <label for="surname">Surname</label>
                                <br/>
                                <p type="text" id="name">{{client.surname}}</p>
                              </div>
              
                              <div class="form-group">
                                <label for="address">Address</label>
                                <p type="text" id="name">{{client.address}}</p>
                              </div>
                              <div class="form-group">
                                <label for="email">Email</label>
                                <p type="text" id="name">{{client.email}}</p>
                              </div>
                              <div class="form-group">
                                <label for="phoneNumber">Phone number</label>
                                <p type="text" id="name">{{client.phoneNumber}}</p>
                              </div>            
                            </form>
                            </div>
                          </div>

                          <div class="row" *ngIf="changePasswordMode && !editMode && !deleteAccountRequestMode" >
                            <div class="col-lg-4"></div>
                            <div class=" col-lg-4" style="text-align: center;">
                                      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" >
                                        <div class="form-group">
                                          <label for="password">Old password</label>
                                          <input type="password"  class="form-control" id="password"
                                          formControlName="oldPass" name="password">
                                        </div>
                                        <div class="form-group">
                                          <label for="password">New password</label>
                                          <input type="password"  class="form-control" id="password"
                                          formControlName="newPass" name="password">
                                        </div>
                                        <div class="form-group">
                                          <label for="confirmPassword">Confirm password</label>
                                          <input type="password"  class="form-control" id="confirmPassword"
                                          formControlName="confirmPass" name="confirmPassword">
                                        </div>
                                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button  mat-flat-button color="primary" type="submit" (click)="changePassword()">Confirm</button>
                                            <button  mat-flat-button color="primary" type="submit" (click)="turnEditModeOff()">Cancel</button>
                                          </div>
                                        </form>
                                        </div>
                                      </div>
                                      <div *ngIf="deleteAccountRequestMode">
                                        <div class="form-group">
                                          <label for="exampleFormControlTextarea1">Why do you want to delete your profile?</label>
                                          <textarea class="form-control" [(ngModel)]="description" id="exampleFormControlTextarea1" rows="5"></textarea>
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                          <button class="btn btn-primary " (click)="makeDeleteAccountRequest()">Confirm</button>
                                          <button class="btn btn-primary " (click)="turnDeleteAccountRequestModeOff()">Back</button>
                                        </div>
                                  
                                      </div>