<mat-toolbar class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary"  routerLink="/"> Home</button>
    <button class="btn btn-primary" routerLink="/cottageOwnerProfile" > My profile</button>
    <button class="btn btn-primary"  routerLink="/myCottages"> My cottages</button>
    <button class="btn btn-primary" routerLink="/cottageReservations" > Reservations calendar</button>
    <button class="btn btn-primary" routerLink="" > Penalties</button>
    <button class="btn btn-primary" routerLink="/login" (click)="logOut()"> Log out</button>
  </mat-toolbar>
  <h1 style="text-align: center;margin-top:20px;">My cottages</h1>
  
<div class="input-group" class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin:20px;">
  <div class="form-outline">
  <button  mat-flat-button color="primary" type="submit" (click)="turnNewCottageModeOn()">New cottage</button>
  <input type="search" (keyup)="searchCottages()" [(ngModel)]="searchInput" id="form1" class="form-control" placeholder="Search..." />
  </div>
</div>
<div *ngIf="!cottageSelected && !newCottageMode">
  <ul class="list-group list-group-flush" *ngFor="let cottage of allCottages">
    <li class="list-group-item">
      <p> {{cottage.name}}, {{cottage.address}}
      <button class="btn"><i style="color: blue;" (click)="showCottageDetails(cottage.id)">Details...</i></button>
    </p>
    </li>
  </ul>
</div>
  <div *ngIf="cottageSelected  && !newCottageMode  && !newActionMode">
    <h1 style="text-align: center;">{{selectedCottage.name}}</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item disabled">Address: {{selectedCottage.address}}</li>
      <li class="list-group-item disabled">Description: {{selectedCottage.description}}</li>
      <li class="list-group-item disabled">Rules: {{selectedCottage.rules}}</li>
      <li class="list-group-item disabled">Capacity: {{selectedCottage.capacity}}</li>
      <li class="list-group-item disabled">Average grade: {{selectedCottage.averageGrade | number:'1.0-1'}}</li>
    </ul>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary " (click)="unselectCottage()">Back</button>
      <button class="btn btn-primary " (click)="deleteCottage()">Delete</button>
      <button class="btn btn-primary " (click)=" turnNewActionModeOn()">New action</button>
    </div>
  </div>

  <div class="row" *ngIf="newCottageMode">
    <div class="col-lg-4"></div>
    <div class=" col-lg-4" style="text-align: center;">
              <form [formGroup]="newCottageForm">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text"  class="form-control" id="name"
                  formControlName="name" name="name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text"  class="form-control" id="description"
                  formControlName="description" name="description">
                </div>
                <div class="form-group">
                  <label for="rules">Rules</label>
                  <input type="text"  class="form-control" id="rules"
                  formControlName="rules" name="rules">
                </div>
                <div class="form-group">
                  <label for="address">Aderess</label>
                  <input type="text"  class="form-control" id="address"
                  formControlName="address" name="address">
                </div>
                <div class="form-group">
                  <label for="capacity">Capacity</label>
                  <input type="number"  class="form-control" id="capacity"
                  formControlName="capacity" name="capacity">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button  mat-flat-button color="primary" type="submit" (click)="newCottage()">Confirm</button>
                  <button  mat-flat-button color="primary" type="submit" (click)="turnNewCottageModeOff()">Cancel</button>
                </div>
              </form>
    </div>
  </div>
            
  <div class="row" *ngIf="newActionMode" >
    <div class="col-lg-4"></div>
    <div class=" col-lg-4" style="text-align: center;">
              <form [formGroup]="newActionForm">
                <div class="form-group">
                  <label for="rentingItemId">Renting item id</label>
                  <input type="number"  class="form-control" id="rentingItemId"
                  formControlName="rentingItemId" name="rentingItemId">
                </div>
                <div class="form-group">
                  <label for="startTime">Start time</label>
                  <input type="date"  class="form-control" id="startTime"
                  formControlName="startTime" name="startTime">
                </div>
                <div class="form-group">
                  <label for="endTime">End time</label>
                  <input type="date"  class="form-control" id="endTime"
                  formControlName="endTime" name="endTime">
                </div>
                <div class="form-group">
                  <label for="capacity">Capacity</label>
                  <input type="number"  class="form-control" id="capacity"
                  formControlName="capacity" name="capacity">
                </div>
                <div class="form-group">
                  <label for="additionalServices">Additional services</label>
                  <input type="text"  class="form-control" id="additionalServices"
                  formControlName="additionalServices" name="additionalServices">
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number"  class="form-control" id="price"
                  formControlName="price" name="price">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button  mat-flat-button color="primary" type="submit" (click)="newAction()">Confirm</button>
                  <button  mat-flat-button color="primary" type="submit" (click)="turnNewActionModeOff()">Cancel</button>
                </div>
              </form>
    </div>
  </div>
